
// Home && Anime-List
.anime {
  .anime-item {
    float: left;
  }
}

.anime__title {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0.4rem 0;
}

.anime__holder {
  color: $color-night-rider;
  background: #fff;
  border-collapse: separate;
  display: block;
  padding: 8%;

  &:hover {
    color: $color-blue;
    text-decoration: none;
  }
}

@include media-breakpoint-only(xs) {
  .anime {
    .anime-item {
      width: 30%;
      margin: 0 5% 5% 0;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
@include media-breakpoint-only(sm) {
  .anime {
    .anime-item {
      width: 20.5%;
      margin: 0 6% 6% 0;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .anime {
    .anime-item {
      width: 21.5%;
      margin: 0 2% 2% 0;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

}

@include media-breakpoint-only(lg) {
  .anime {
    .anime-item {
      width: 23%;
      margin: 0 2.5% 2.5% 0;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .anime {
    .anime-item {
      float: left;
      margin: 0 2% 2% 0;
      width: 18.18%;

      &:nth-child(5n) {
        margin: 0 0 1%;
      }
    }
  }
}

// Anime show info


.anime__item {
  color: $color-white;
  min-height: 320px;
  background: $black-transparent;
}

.anime__hold {
  list-style-type: none;
  padding-bottom: 0.2rem;
  margin: 0;

  a {
    color: $color-yellow;
  }

}

.anime__img {
  padding-right: 10px;
  float: left;
  max-width: 250px;
}

.anime__info {
  margin: 0 0 0.950rem;

}

.anime-footer {
  background-color: $color-darker-purple;
  padding: 12px;
  font-size: 20px;
}

.episode-list {
  padding: 0;

  .episode-list-holder {
  text-shadow: 0 1px 0 white;
  border-bottom: 1px solid $color-darker-gray;
  border-top: 1px solid $color-dark-gray;
  line-height: 20px;
  position: relative;
  -webkit-transition: all 300ms ease-in-out;

  }

  li:nth-child(even) {
    background: $color-white;
  }

  .episode-list-item {
    display: block;
    font-weight: bold;
    width: 100%;
    padding: 5px 26px;
    text-decoration: none;
    position: relative;
    text-shadow: 0 1px 0 $color-white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: $color-pink;
      position: absolute;
      left: 10px;
      border-radius: 50% 50%;
      vertical-align: middle;
      top: 11px;
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.54),0 1px 0 $color-white;
    }

    &:visited:before {
      background-color: $color-light-green;
    }
  }
}


@include media-breakpoint-down(md) {
  .anime__item {
    margin: 2rem 0 0;
  }
}

@include media-breakpoint-down(xs) {
  .anime__img {
    float: none;
  }
  .anime__info {
    margin: 0.4rem auto;
  }
}
