.episode-item {
  float: left;
}

.episodes__holder {
  color: $color-night-rider;
  background: $color-white;
  border-collapse: separate;
  display: block;
  padding: 0.8rem;

  &:hover {
    color: $color-blue;
    text-decoration: none;
  }
}

.episodes__title {
  display: block;
  font-weight: bold;
  margin: 0.4rem 0;
}

.episode__number {
  display: block;
}

.episode__details {
  color: $color-white;
  padding: 0.30rem 0.60rem;
  text-transform: uppercase;
}

.episode__time {
  color: $color-night-rider;
  display: block;
  font-style: italic;
  margin: 0.30rem 0 0;
}


@include media-breakpoint-down(sm) {
  .episodes .episode-item {
    width: 48%;
    margin: 0 4% 4% 0;

    &:nth-child(2n) {
      margin: 0;
    }
  }
}

@include media-breakpoint-only(md) {
  .episodes .episode-item {
    width: 32%;
    margin: 0 2% 2% 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@include media-breakpoint-only(lg) {
  .episodes .episode-item {
    width: 23.87%;
    margin: 0 1.5% 1.5% 0;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@include media-breakpoint-up(xl) {
  .episodes .episode-item {
    width: 15.834%;
    margin: 0 1% 1% 0;

    &:nth-child(6n) {
      margin: 0 0 1%;
    }
  }
}
