.filter-submenu {
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;

  li {
    float: left;
  }

  a {
    color: $color-black;
    padding: 5px 7px;
    text-transform: uppercase;
  }
}