.nav-tabs {
  background-color: $color-white;
  box-shadow: 1px 1px 1px $color-black-shadow;

  .nav-link {
    border-radius: 0;

    &.active,
    &.active:focus,
    &.active:hover {
      color: $color-white;
      background-color: #3f3f3f;
    }
  }

  .nav-item {

    &.open .nav-link,
    &.open .nav-link:focus,
    &.open .nav-link:hover {
      color: $color-white;
      background-color: #3f3f3f;
    }
  }
}

.tab-content {
  float: left;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: $color-white;
  box-shadow: 1px 1px 1px 1px $color-black-shadow;
}

// EPISODE TABS
.nav-tabs-episode {
  padding: 10px 0;
}

.nav-tabs-episode > li {
  float: left;
  margin-bottom: -1px;
  margin-right: 5px;
}

.nav-tabs-episode > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: $color-white;
  background-color: #3f3f3f;
  border-left: 1px solid #3f3f3f;
  width: 100%;
}

.nav-tabs-episode > li > a {
  border-radius: 6px;
  background-color: #23b95d;
  color: white;
  font-weight: bold;
}
