.media-search {
  background-color: white;
  padding: 10px;
  margin: 0 0 20px;
  box-shadow: 0 1px 1px $color-black-shadow;

  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);

    p {
      color: #3f3f3f;
    }
  }

  p {
    color: #808080;
  }

  .media-heading {
    font-weight: bold;
    text-decoration: none;
    color: #3f3f3f;
    a {
      &:hover {
        text-decoration: none;
        color: #23b95d;
      }
    }
  }
}