.form-item, .form-checkboxes, .form-radios {
    margin: 1em 0
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 2px solid #c00
}

.form-item label {
    display: block;
    font-weight: bold
}

.form-item label.option {
    display: inline;
    font-weight: normal
}

.form-required {
    color: #c00
}

.form-item .description {
    font-size: .85em
}

.form-checkboxes .form-item, .form-radios .form-item {
    margin: .4em 0
}

.container-inline div, .container-inline label {
    display: inline
}

#edit-search-theme-form-1-wrapper label {
    display: none
}

#edit-search-block-form-1-wrapper label {
    display: none
}

#user-login-form {
    text-align: left
}

#user-login-form ul {
    margin-bottom: 0
}

#user-login-form li.openid-link {
    margin-top: 1em;
    margin-left: -20px
}

#user-login-form li.user-link {
    margin-top: 1em
}

#user-login ul {
    margin: 1em 0
}

#user-login li.openid-link, #user-login li.user-link {
    margin-left: -2em
}

form tbody {
    border-top: 1px solid #ccc
}

form th, form thead th {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc
}

form tbody th {
    border-bottom: 1px solid #ccc
}