@charset "UTF-8";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/media";
@import "bootstrap/panels";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// External CSS
@import "font-awesome";

// Colors
$primary-color: #3b70aa;
$secondary-color: #3b70aa;
$third-color: #a0a0a0;
$four-color: #d3d3d3;
$fifth-color: #f5f5f5;

// Font family
$font-stack: 'PT Sans', Helvetica, sans-serif;
$primary-font: 'Roboto';
$secondary-font: 'Oswald';

// Modules
@import "modules/navbar";
@import "modules/sidebar";
@import "modules/footer";
@import "modules/timeline";

// Main CSS
body {
  padding-top: 60px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

a {
  font-size: 14px;
}

.page-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #23B95D;
  display: inline-block;
  width: 100%;
}

.btn-purple {
  background-color: #8970B3;
  color: white;
}

.menu-filter {
  float: right;
  margin-left: 5px;
}

.anime-title {
  background: #293846;
  color: white;
  text-shadow: 0 1px 1px #000;
  border-bottom: 1px solid #000;
}

.anime-content {
  background: #293846;
  color: #fff;
  height: auto;
  overflow: hidden;
  position: relative;
  text-shadow: 0 1px 1px #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-white {
  color: #ffffff
}

.text-yellow {
  color: #ffff00
}

.text-pink {
  color: #FF9FB0
}

.text-light-blue {
  color: #09bfff
}

.text-orange {
  color: #ffa500
}

.text-purple {
  color: #8970B3
}

.text-dark-pink {
  color: #ff27d7
}

.text-dark-blue {
  color: #0084ff
}

.text-danger {
  color: #d9534f;
}

.text-success {
  color: #23B95D;
}

.anime-footer {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;

}

.anime-footer a {
  color: white;
}

#footer {
  margin-top: 150px;
  background-color: white;
  padding-top: 20px;
}

.anime-background {
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  content: ' ';
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.anime-background-2 {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-shadow: 0 1px 1px #000;
  padding: 10px;
}

.anime-side {
  background: rgba(0, 0, 0, 0.6);
  float: right;
  right: 0;
  height: 100%;
  position: absolute;
  top: 0;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.anime-side li {
  padding-top: 10px;
}

.episode-list {
  font-size: 12px;
}

.label {
  border: none;
  font-size: 12px;
}

.label-purple {
  background-color: #8970B3;
  color: white;
}