.carousel-control.left, .carousel-control.right {
  border-radius: 0 50px 50px 0;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  width: 30px;
  height: 70px;
  top: 45%;
}

.carousel-control.right {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .carousel-control.left, .carousel-control.right {
    top: 30%;
  }
}