.nav > li > a:focus, .nav > li > a:hover {
  background-color: #F8F8F8;
}

.navbar-form {
  padding: 0;
  margin: 0;
}

.navbar-form .form-group {
  margin: 13px 0;
}

.navbar-default {
  background-color: #fff;
  margin: 0;
  border: 0;
}

.navbar-brand {
  height: 50px;
  padding: 12px;
}

.navbar-brand > img {
  margin: 0;
}

.navbar-collapse {
  background: transparent;
  border-top: 0;
}

.navbar-header {
  background-color: #fff;
}

.navbar-collapse {
  padding: 0;
}

.navbar-nav {
  float: none;
}

.navbar-header {
  float: none;
}