.nav-sidebar {
  margin-right: -21px;
  margin-left: -20px;
  padding: 0;
}

.sidebar li > a {
  background-color: #293846;
  color: #a7b1c2;
  padding: 10px 10px;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #4C5761;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
  background-color: #293846;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a7b1c2;
}

.color-side {
  background-color: #293846;
}

.sidebar-money {
  font-size: 35px !important;
  width: 100% !important;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #293846;
  }
  .navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
}