@charset "UTF-8";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/media";
@import "bootstrap/panels";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// External CSS
@import "font-awesome";

// Colors
$primary-color: #3b70aa;
$secondary-color: #3b70aa;
$third-color: #a0a0a0;
$four-color: #d3d3d3;
$fifth-color: #f5f5f5;

// Font family
$font-stack: 'PT Sans', Helvetica, sans-serif;
$primary-font: "Roboto";
$secondary-font: "Oswald";

// Modules
@import "modules/sidebar";
@import "modules/footer";
@import "modules/timeline";
@import "modules/carousel";

// Main CSS

body {
  background-color: #f1f1f1;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 17px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

p {
  font-size: 13px;
}

a {
  font-size: 13px;
  color: #000;
}

.page-header {
  margin: 20px 0 0;
  font-weight: bold;
  float: left;
  width: 100%;
}

.thumbnail {
  margin-bottom: 10px;
  color: #000;
  padding: 12px;
  border-radius: 0;
  border: 0;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.55);
  text-decoration: none;

  .episode-title {
    color: #0A6DA4;
  }
}

.btn-purple {
  background-color: #8970b3;
  color: #fff;
}

.btn-success {
  background-color: #23b95d;
}

.btn-group-vertical {
  .dropdown-menu {
    background-color: #17181B;
    border-radius: 0;
    a {
      color: #fff;
    }
  }
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
  border: 0;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #23B95D;
}

.btn-default {
  color: #fff;
  background-color: #17181B;
}

.btn-default:hover {
  color: #fff;
  background-color: #333333;
}

.btn-default:active, .btn-default.active, .open>.btn-default.dropdown-toggle, .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open>.btn-default.dropdown-toggle:hover, .open>.btn-default.dropdown-toggle:focus, .open>.btn-default.dropdown-toggle.focus {
  color: #fff;
  background-color: #333;
}

.center {
  display: block;
  margin: auto;
  padding: 5px 20px;
  text-align: center;
}

.media {
  display: block;
  position: relative;
}

.media-heading {
  margin: 8px 0 0;
  font-size: 14px;
  font-weight: 700;
}

.menu-filter {
  float: right;
  margin-left: 5px;
}

.anime-list-header {
  background-color: #3F3F3F;
  padding: 10px;
  border-bottom: 1px solid #fff;

  h2 {
    color: #fff;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.anime-title {
  background: #fff;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  border-bottom: 1px solid #000;
}

.anime-content {
  background: #fff;
  color: #fff;
  height: auto;
  overflow: hidden;
  position: relative;
  text-shadow: 0 1px 1px #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-tabs {
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #3F3F3F;
  border-left: 1px solid #3F3F3F;
}

.nav-tabs>li>a {
  border-radius: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #3F3F3F;
  color: #fff;
  border-bottom: 0;
}

.anime-tabs {
  float: left;
  width: 100%;
}

.text-dark {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-yellow {
  color: #ff0;
}

.text-pink {
  color: #FF9FB0;
}

.text-light-blue {
  color: #09bfff;
}

.text-orange {
  color: #ffa500;
}

.text-purple {
  color: #8970b3;
}

.text-dark-pink {
  color: #ff27d7;
}

.text-dark-blue {
  color: #0084ff;
}

.text-danger {
  color: #d9534f;
}

.text-success {
  color: #23b95d;
}

.anime-footer {
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;

  a {
    color: #fff;
  }

}

#footer {
  background-color: #fff;
  padding-top: 20px;
}

.anime-background {
  height: 100%;
  width: 100%;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.anime-media {
 background-color: rgba(0,0,0,0.6);

  h1 {
    color: #fff;
  }

  a {
    color: #FFFF00;
  }

  span {
    font-weight: bold;
  }

  > p:last-child {
    padding: 10px;
  }
}

.episode-list {
  font-size: 12px;
}

.episode-title {
  margin: 10px 0 0;
  font-size: 13px;
  color: #3f3f3f;
  font-weight: bold;
  line-height: 1.5;
}

.label {
  border: none;
  font-size: 12px;
}

.thumbnail .caption {
  padding: 0;
}

.label-purple {
  background-color: #8970b3;
  color: #fff;
}

.caption {
  .time-release {
    font-style: italic;
    text-align: right;
    font-size: 10px;
    color: #23b95d;
    margin: 0;
  }

  p {
    margin: 0 0 5px;
  }
}

.btn-toolbar {
  margin: 10px 0 10px -5px;
}

.no-margin {
  margin: 0;
}

.grid-anime .grid-item {
  width: 160px;
  float: left;
}

.sort-by .btn-default {
  background-color: #02AF46;
  border: 0;
}

.tab-content {
  float: left;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.filter-submenu {
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
}

.filter-submenu li {
  float: left;
}

.filter-submenu > li > a {
  color: #000;
  padding: 12px;
  text-transform: uppercase;
}

.alphabetical li:last-child a {
  background-color: #01AE45;
  color: #fff;
  border-radius: 2px;
}

@media (max-width: $screen-xs-min) {
  .grid-episode {
    height: auto !important;
    .grid-item {
      width: 100%;
      max-width: 300px;
      position: relative !important;
      left: initial !important;
      top: initial !important;
      margin: 0 auto;
    }
    .grid-sizer {
      width: 100%;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .main {
    padding-top: 51px;
  }
  .grid-episode .grid-item {
    width: 49%;
    max-width: 300px;
  }

  .grid-episode .grid-sizer {
    width: 50%;
  }
}

@media (max-width: 1420px) {
  .container {
    width: 100%;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .grid-episode .grid-item {
    width: 49%;
    max-width: 300px;
  }

  .grid-episode .grid-sizer {
    width: 50%;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .grid-episode .grid-item {
    width: 32%;
    max-width: 300px;
  }

  .grid-episode .grid-sizer {
    width: 33.33%;
  }
}

@media (min-width: $screen-sm-min) {
  .main {
    margin-left: 250px;
  }
}

@media (min-width: $screen-lg-min) {
  .grid-episode .grid-item {
    width: 24%;
    max-width: 300px;
  }

  .grid-episode .grid-sizer {
    width: 25%;
  }
}
