.category-form fieldset .form-item {
    margin-top: 0;
    margin-bottom: 0
}

#edit-category-hierarchy-container-wrapper .description, .category-distant-wrapper .description {
    clear: both
}

tr.category-category-preview {
    background-color: #EEE
}

tr.category-category-divider-top {
    border-bottom: 0
}

tr.category-category-divider-bottom {
    border-top: 1px dotted #CCC
}

.category-wrapper-installed {
    font-weight: bold;
    color: #008000
}

.category-wrapper-notinstalled {
    font-weight: bold;
    color: #f00
}

.field .field-label, .field .field-label-inline, .field .field-label-inline-first {
    font-weight: bold
}

.field .field-label-inline, .field .field-label-inline-first {
    display: inline
}

.field .field-label-inline {
    visibility: hidden
}

.node-form .content-multiple-table td.content-multiple-drag {
    width: 30px;
    padding-right: 0
}

.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle {
    padding-right: .5em
}

.node-form .content-add-more .form-submit {
    margin: 0
}

.node-form .number {
    display: inline;
    width: auto
}

.node-form .text {
    width: auto
}

.form-item #autocomplete .reference-autocomplete {
    white-space: normal
}

.form-item #autocomplete .reference-autocomplete label {
    display: inline;
    font-weight: normal
}

#content-field-overview-form .advanced-help-link, #content-display-overview-form .advanced-help-link {
    margin: 4px 4px 0 0
}

#content-field-overview-form .label-group, #content-display-overview-form .label-group, #content-copy-export-form .label-group {
    font-weight: bold
}

table#content-field-overview .label-add-new-field, table#content-field-overview .label-add-existing-field, table#content-field-overview .label-add-new-group {
    float: left
}

table#content-field-overview tr.content-add-new .tabledrag-changed {
    display: none
}

table#content-field-overview tr.content-add-new .description {
    margin-bottom: 0
}

table#content-field-overview .content-new {
    font-weight: bold;
    padding-bottom: .5em
}

.advanced-help-topic h3, .advanced-help-topic h4, .advanced-help-topic h5, .advanced-help-topic h6 {
    margin: 1em 0 .5em 0
}

.advanced-help-topic dd {
    margin-bottom: .5em
}

.advanced-help-topic span.code {
    background-color: #edf1f3;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
    font-size: .9em;
    padding: 1px
}

.advanced-help-topic .content-border {
    border: 1px solid #AAA
}

.rteindent1 {
    margin-left: 40px
}

.rteindent2 {
    margin-left: 80px
}

.rteindent3 {
    margin-left: 120px
}

.rteindent4 {
    margin-left: 160px
}

.rteleft {
    text-align: left
}

.rteright {
    text-align: right
}

.rtecenter {
    text-align: center
}

.rtejustify {
    text-align: justify
}

.ibimage_left {
    float: left
}

.ibimage_right {
    float: right
}

table.cke_editor fieldset {
    padding: 0 !important
}

.cke_editor {
    display: table !important
}

.cke_editor, #ie#bug {
    display: inline-table !important
}

.cke_panel_listItem {
    background-image: none;
    padding-left: 0
}

tbody {
    border: 0
}

form#ckeditor-admin-profile-form textarea#edit-toolbar, form#ckeditor-admin-global-profile-form textarea#edit-toolbar {
    display: none
}

form#ckeditor-admin-profile-form #edit-toolbar + .grippie, form#ckeditor-admin-global-profile-form #edit-toolbar + .grippie {
    display: none
}

div.sortableList {
    cursor: n-resize
}

div.widthMarker {
    height: 20px;
    border-top: 1px dashed #CCC;
    margin: 10px 0 0 1px;
    padding-left: 1px;
    text-align: center
}

div.sortableList.group {
    margin: 20px 0 0 0
}

div.sortableList div.sortableListDiv {
    height: 30px;
    margin-bottom: 3px;
    width: 900px
}

div.sortableList div.sortableListDiv span.sortableListSpan {
    background-color: #f0f0ee;
    height: 30px;
    border-right: 1px dashed #CCC;
    display: block
}

div.sortableList div.sortableListDiv span.sortableListSpan ul {
    background: 0;
    width: 900px;
    white-space: nowrap;
    border: 1px solid #CCC;
    list-style: none;
    margin: 0;
    padding: 0 0 0 1px;
    height: 30px
}

div.sortableList div.sortableListDiv span.sortableListSpan ul li {
    background: 0;
    list-style: none;
    cursor: move;
    height: 18px;
    min-width: 18px;
    padding: 2px
}

div.sortableList div.sortableListDiv span.sortableListSpan ul li.group {
    min-width: 5px;
    padding-left: 2px
}

div.sortableList div.sortableListDiv span.sortableListSpan ul li img {
    border: 0;
    padding: 0;
    margin: 0
}

li.sortableItem {
    position: relative;
    float: left;
    margin: 3px 1px 1px 0;
    border: 1px solid #CCC;
    background-color: #f0f0ee;
    z-index: 99
}

fieldset#edit-appearance div#groupLayout, div#allButtons {
    border: 0;
    padding: 0;
    margin: 1em 0;
    overflow: auto
}

.cke_browser_ie .cke_panel_block {
    overflow: hidden !important
}

#counter ul li strong {
    float: right
}

.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em
}

.ctools-owns-lock {
    background: #ffd none repeat scroll 0 0;
    border: 1px solid #f0c020;
    padding: 1em
}

a.ctools-ajaxing, input.ctools-ajaxing, button.ctools-ajaxing, select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(/modules/ctools/images/status-active.gif) right center no-repeat
}

div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(/modules/ctools/images/status-active.gif) center center no-repeat
}

.filefield-icon {
    margin: 0 2px 0 0
}

.filefield-element {
    margin: 1em 0;
    white-space: normal
}

.filefield-element .widget-preview {
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #CCC;
    max-width: 30%
}

.filefield-element .widget-edit {
    float: left;
    max-width: 70%
}

.filefield-element .filefield-preview {
    width: 16em;
    overflow: hidden
}

.filefield-element .widget-edit .form-item {
    margin: 0 0 1em 0
}

.filefield-element input.form-submit, .filefield-element input.form-file {
    margin: 0
}

.filefield-element input.progress-disabled {
    float: none;
    display: inline
}

.filefield-element div.ahah-progress, .filefield-element div.throbber {
    display: inline;
    float: none;
    padding: 1px 13px 2px 3px
}

.filefield-element div.ahah-progress-bar {
    display: none;
    margin-top: 4px;
    width: 28em;
    padding: 0
}

.filefield-element div.ahah-progress-bar div.bar {
    margin: 0
}

form.fivestar-widget {
    clear: both;
    display: block
}

form.fivestar-widget select, form.fivestar-widget input {
    margin: 0
}

.fivestar-combo-stars .fivestar-static-form-item {
    float: left;
    margin-right: 40px
}

.fivestar-combo-stars .fivestar-form-item {
    float: left
}

.fivestar-static-form-item .form-item, .fivestar-form-item .form-item {
    margin: 0
}

div.fivestar-widget-static {
    display: block
}

div.fivestar-widget-static br {
    clear: left
}

div.fivestar-widget-static .star {
    float: left;
    width: 17px;
    height: 15px;
    overflow: hidden;
    text-indent: -999em;
    background: url(/modules/fivestar/widgets/default/star.gif) no-repeat 0 0
}

div.fivestar-widget-static .star span.on {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/modules/fivestar/widgets/default/star.gif) no-repeat 0 -32px
}

div.fivestar-widget-static .star span.off {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/modules/fivestar/widgets/default/star.gif) no-repeat 0 0
}

div.fivestar-widget {
    display: block
}

div.fivestar-widget .cancel, div.fivestar-widget .star {
    float: left;
    width: 17px;
    height: 15px;
    overflow: hidden;
    text-indent: -999em
}

div.fivestar-widget .cancel, div.fivestar-widget .cancel a {
    background: url(/modules/fivestar/widgets/default/delete.gif) no-repeat 0 -16px;
    text-decoration: none
}

div.fivestar-widget .star, div.fivestar-widget .star a {
    background: url(/modules/fivestar/widgets/default/star.gif) no-repeat 0 0;
    text-decoration: none
}

div.fivestar-widget .cancel a, div.fivestar-widget .star a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 0;
    cursor: pointer
}

div.fivestar-widget div.on a {
    background-position: 0 -16px
}

div.fivestar-widget div.hover a, div.rating div a:hover {
    background-position: 0 -32px
}

form.fivestar-widget div.description {
    margin-bottom: 0
}

div.fivestar-widget-static .star {
    background-image: url(/sites/default/files/fivestar/oxygen/star.png)
}

div.fivestar-widget-static .star span.on {
    background-image: url(/sites/default/files/fivestar/oxygen/star.png)
}

div.fivestar-widget-static .star span.off {
    background-image: url(/sites/default/files/fivestar/oxygen/star.png)
}

div.fivestar-widget .cancel, div.fivestar-widget .cancel a {
    background-image: url(/sites/default/files/fivestar/oxygen/cancel.png)
}

div.fivestar-widget .star, div.fivestar-widget .star a {
    background-image: url(/sites/default/files/fivestar/oxygen/star.png)
}

div.fivestar-widget div.hover a, div.rating div a:hover {
    background-image: url(/sites/default/files/fivestar/oxygen/star.png)
}

abbr.glossary-indicator, acronym.glossary-indicator, sup.glossary-indicator, span.glossary-indicator, a.glossary-indicator, a.glossary-icon, dfn.glossary-indicator, img.glossary-indicator {
    cursor: help
}

span.glossary-term {
    text-decoration: none;
    border-bottom: 1px dotted;
    cursor: help
}

a.glossary-term {
    text-decoration: none;
    border-bottom: 1px dotted #080;
    color: #080;
    cursor: help
}

dl.glossary-list > dt {
    font-weight: bold
}

dl.glossary-list > dd {
    font-weight: normal;
    font-size: 75%;
    margin-left: 15px
}

dl.glossary-list dt.depth1 {
    padding-left: 10px
}

dl.glossary-list dt.depth2 {
    padding-left: 20px
}

dl.glossary-list dt.depth3 {
    padding-left: 30px
}

.glossary-list dt {
    padding-top: 7px;
    clear: both
}

td.glossary-list-description {
    padding-left: 1em !important;
    font-style: italic;
    font-size: 90%
}

a.glossary-edit-term {
    font-size: 75%;
    font-weight: normal;
    margin-left: 2.0em
}

a.glossary-search-term {
    font-size: 75%;
    font-weight: normal;
    margin-left: 2.0em
}

p.glossary-description {
    margin: 0 2.0em .5em 2.0em;
    text-indent: 0
}

div.glossary-letter {
    clear: both;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase
}

.glossary-synonyms {
    font-style: italic;
    color: #888;
    margin-left: 1em
}

.glossary-related {
    font-style: italic;
    color: green;
    margin-left: 6px
}

.glossary-related a {
    text-decoration: underline;
    color: green
}

.glossary-related a:visited {
    text-decoration: underline;
    color: green
}

.glossary-related a:link {
    text-decoration: underline;
    color: green
}

.glossary-links {
    text-align: center;
    background-color: #eef;
    color: #888
}

.glossary-links a {
    font-size: 140%;
    text-transform: uppercase
}

.glossary-alphabar-instructions {
    font-size: 89%;
    font-style: italic
}

.glossary-admin-links {
    clear: both;
    margin: .5em 0 0 3.0em
}

.glossary-admin-links li a {
    padding: 5px
}

.glossary-list dt img {
    float: left
}

.glossary-list .taxonomy_image_wrapper {
    width: 70px;
    float: left
}

a.clicktip_target {
    font-style: normal
}

span.clicktip_target {
    font-style: normal
}

html > body .hovertip_wrap3 {
    background-color: #ffdab9;
    border: 3px outset #d2691e
}

.hovertip h2 {
    margin: 0;
    padding: 0;
    background-color: #d2691e;
    color: #fff
}

a.hovertip_target {
    font-style: normal;
    border-bottom: 3px double #922
}

span.hovertip_target {
    font-style: normal;
    border-bottom: 3px double #922
}

.glossary_radios .form-radios {
    margin-top: 0
}

.glossary_radios .form-item {
    margin-top: 0;
    margin-bottom: 0
}

.glossary_checkboxes .form-checkboxes {
    margin-top: 0
}

.glossary_checkboxes .form-item {
    margin-top: 0;
    margin-bottom: 0
}

.glossary_radios label.option {
    margin-right: 1em;
    float: left;
    border: 1px dotted #666;
    padding: 0 4px 1px 0
}

.glossary_radios .form-item .description {
    clear: both
}

.glossary_checkboxes label.option {
    margin-right: 1em;
    float: left;
    padding: 0 4px 1px 0
}

.glossary_checkboxes .form-item .description {
    clear: both
}

.glossary-detailed h2 {
    margin-left: 10px
}

.glossary-detailed legend {
    text-indent: 0
}

.glossary-detailed-link {
    font-size: 89%;
    text-indent: 2em
}

.glossary-interval .description {
    display: block
}

.block-glossary {
    font-size: 89%
}

.glossary-block-term-name {
    font-weight: bold;
    font-size: 110%;
    text-align: center
}

span.hovertip img {
    text-align: left;
    margin-right: 5px
}

#lightbox {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0
}

#lightbox a img {
    border: 0
}

#outerImageContainer {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    min-width: 240px;
    overflow: hidden
}

#imageContainer, #frameContainer, #modalContainer {
    padding: 10px
}

#modalContainer {
    line-height: 1em;
    overflow: auto
}

#loading {
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    *left: 0
}

#hoverNav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

#imageContainer > #hoverNav {
    left: 0
}

#frameHoverNav {
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: absolute;
    bottom: 0;
    height: 45px
}

#imageData > #frameHoverNav {
    left: 0
}

#hoverNav a, #frameHoverNav a {
    outline: 0
}

#prevLink, #nextLink {
    width: 49%;
    height: 100%;
    background: transparent url(/modules/lightbox2/images/blank.gif) no-repeat;
    display: block
}

#prevLink, #framePrevLink {
    left: 0;
    float: left
}

#nextLink, #frameNextLink {
    right: 0;
    float: right
}

#prevLink:hover, #prevLink:visited:hover, #prevLink.force_show_nav, #framePrevLink {
    background: url(/modules/lightbox2/images/prev.gif) left 15% no-repeat
}

#nextLink:hover, #nextLink:visited:hover, #nextLink.force_show_nav, #frameNextLink {
    background: url(/modules/lightbox2/images/next.gif) right 15% no-repeat
}

#prevLink:hover.force_show_nav, #prevLink:visited:hover.force_show_nav, #framePrevLink:hover, #framePrevLink:visited:hover {
    background: url(/modules/lightbox2/images/prev_hover.gif) left 15% no-repeat
}

#nextLink:hover.force_show_nav, #nextLink:visited:hover.force_show_nav, #frameNextLink:hover, #frameNextLink:visited:hover {
    background: url(/modules/lightbox2/images/next_hover.gif) right 15% no-repeat
}

#framePrevLink, #frameNextLink {
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    bottom: 0
}

#imageDataContainer {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    min-width: 240px
}

#imageData {
    padding: 0 10px
}

#imageData #imageDetails {
    width: 70%;
    float: left;
    text-align: left
}

#imageData #caption {
    font-weight: bold
}

#imageData #numberDisplay {
    display: block;
    clear: left;
    padding-bottom: 1.0em
}

#imageData #lightbox2-node-link-text {
    display: block;
    padding-bottom: 1.0em
}

#imageData #bottomNav {
    height: 66px
}

.lightbox2-alt-layout #imageData #bottomNav, .lightbox2-alt-layout-data #bottomNav {
    margin-bottom: 60px
}

#lightbox2-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
    background-color: #000
}

#overlay_default {
    opacity: .6
}

#overlay_macff2 {
    background: transparent url(/modules/lightbox2/images/overlay.png) repeat
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

* html > body .clearfix {
    display: inline;
    width: 100%
}

* html .clearfix {
    /*\*/
    height: 1%; /**/
}

#bottomNavClose {
    display: block;
    background: url(/modules/lightbox2/images/close.gif) left no-repeat;
    margin-top: 33px;
    float: right;
    padding-top: .7em;
    height: 26px;
    width: 26px
}

#bottomNavClose:hover {
    background-position: right
}

#loadingLink {
    display: block;
    background: url(/modules/lightbox2/images/loading.gif) no-repeat;
    width: 32px;
    height: 32px
}

#bottomNavZoom {
    display: none;
    background: url(/modules/lightbox2/images/expand.gif) no-repeat;
    width: 34px;
    height: 34px;
    position: relative;
    left: 30px;
    float: right
}

#bottomNavZoomOut {
    display: none;
    background: url(/modules/lightbox2/images/contract.gif) no-repeat;
    width: 34px;
    height: 34px;
    position: relative;
    left: 30px;
    float: right
}

#lightshowPlay {
    margin-top: 42px;
    float: right;
    margin-right: 5px;
    margin-bottom: 1px;
    height: 20px;
    width: 20px;
    background: url(/modules/lightbox2/images/play.png) no-repeat
}

#lightshowPause {
    margin-top: 42px;
    float: right;
    margin-right: 5px;
    margin-bottom: 1px;
    height: 20px;
    width: 20px;
    background: url(/modules/lightbox2/images/pause.png) no-repeat
}

.lightbox2-alt-layout-data #bottomNavClose, .lightbox2-alt-layout #bottomNavClose {
    margin-top: 93px
}

.lightbox2-alt-layout-data #bottomNavZoom, .lightbox2-alt-layout-data #bottomNavZoomOut, .lightbox2-alt-layout #bottomNavZoom, .lightbox2-alt-layout #bottomNavZoomOut {
    margin-top: 93px
}

.lightbox2-alt-layout-data #lightshowPlay, .lightbox2-alt-layout-data #lightshowPause, .lightbox2-alt-layout #lightshowPlay, .lightbox2-alt-layout #lightshowPause {
    margin-top: 102px
}

.lightbox_hide_image {
    display: none
}

#lightboxImage {
    -ms-interpolation-mode: bicubic
}

.node-unpublished {
    background-color: #fff4f4
}

.preview .node {
    background-color: #ffffea
}

#node-admin-filter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%
}

#node-admin-buttons {
    float: left;
    margin-left: .5em;
    clear: right
}

td.revision-current {
    background: #ffc
}

.node-form .form-text {
    display: block;
    width: 95%
}

.node-form .container-inline .form-text {
    display: inline;
    width: auto
}

.node-form .standard {
    clear: both
}

.node-form textarea {
    display: block;
    width: 95%
}

.node-form .attachments fieldset {
    float: none;
    display: block
}

.terms-inline {
    display: inline
}