.sidebar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color-darker-purple;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}

.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #4C5761;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
  background-color: $color-white;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a7b1c2;
}

@include media-breakpoint-down(md) {
  .navbar {
    position: relative;
    padding: 0.8rem 1rem;
  }
}

@include media-breakpoint-up(lg) {

  .sidebar {
    width: 250px;
    bottom: 0;
    border-bottom: 0;
  }
}
