// Colors
$color-white: #fff;
$color-black: #000;
$color-gray: #f1f1f1;
$color-purple: #8970b3;

$color-black-russian: #17181b;
$color-night-rider: #333;

// Shadow
$color-black-shadow: rgba(0, 0, 0, 0.2);
