// Colors
$color-black: #000;
$color-black-russian: #17181b;
$color-night-rider: #333;
$color-gray: #f1f1f1;
$color-white: #fff;
$color-green: #00ae45;
$color-purple: #7d71ce;
$color-blue: #0a6da4;
$color-orange: #ff6437;

// Shadow
$color-black-shadow: rgba(0, 0, 0, 0.2);
