// Colors
$color-black: #000;
$color-black-russian: #17181b;
$color-night-rider: #333;
$color-darker-gray: #d2d2d2;
$color-dark-gray: #f3f3f3;
$color-gray: #f1f1f1;
$color-white: #fff;
$color-yellow: #ff0;
$color-green: #01AE46;
$color-light-green: #b8ec90;
$color-darker-purple: #201c2b;
$color-dark-purple: #2E283E;
$color-purple: #7d71ce;
$color-light-purple: #a49fad;
$color-blue: #0a6da4;
$color-light-blue: #09bfff;
$color-red: #d9534f;
$color-orange: #ff6437;
$color-pink: #FF9FB0;
$color-dark-pink: #ff27d7;
$black-transparent: rgba(0,0,0,0.8);

// Shadow
$color-black-shadow: rgba(0, 0, 0, 0.2);
$color-black-shadow-hover: rgba(0, 0, 0, 0.55);
