.nav-sidebar {
  padding: 0;
}

.sidebar li > a {
  color: #a7b1c2;
  padding: 10px 10px;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #4C5761;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a7b1c2;
}

.sidebar-money {
  font-size: 35px !important;
  width: 100% !important;
  padding-top: 10px;
}

.sidebar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #293846;
  border-bottom: 1px solid #dcdcdc;
}

li.login a.btn, li.sign-up a.btn {
  padding: 10px 30px;
  color: #fff;
}

.navbar-form .input-group > .form-control {
  border-radius: 5px;
}

.search-form {

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
  }

  .form-control {
    background-color: #a7b1c2;
    color: #fff;
    border: 0;
  }

  .input-group {
    width: 219px;
  }

  .input-group-addon {
    background-color: #a7b1c2;
    height: 32px;
    width: 32px;
    border: 0;
    top: 1px;
    right: 1px;
    border-radius: 10px;
  }
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #f8f8f8;
  color: #000;
}

.navbar-form {
  padding: 0;
  margin: 0;
}

.navbar-form .form-group {
  margin: 13px 0;
}

.navbar-default {
  background-color: #293846;
  margin: 0;
  border: 0;
}

.navbar > .container-fluid .navbar-brand {
  height: 34px;
  margin: 8px 0;
  padding: 0;
}

.navbar-brand > img {
  margin: 0;
}

.navbar-collapse {
  background: transparent;
  border-top: 0;
}

.navbar-collapse {
  padding: 0;
}

.navbar-nav {
  float: none;
  margin: 7.5px 0;
}

.navbar-header {
  float: none;
}

.nav-sidebar a {
  border-bottom: 1px solid #dcdcdc;
}

@media (max-width: $screen-xs-max) {
  .navbar-form .form-group {
    margin: 0;
  }
  .navbar-nav li:last-child, .search-form .input-group {
    width: 100%;
  }
  .login, .sign-up {
    width: 50%;
  }
  .navbar-nav li {
    float: left;
  }
}

@media (min-width: $screen-sm-min) {
  .sidebar {
    width: 250px;
    bottom: 0;
    border-right: 1px solid #dcdcdc;
    border-bottom: 0;
  }
  .sign-up {
    margin-left: 12px;
  }
}