.nav-sidebar {
  padding: 0;
}

.sidebar li > a {
  color: #777;
  padding: 10px 10px;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #4C5761;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a7b1c2;
}

.color-side {
  background-color: #fff;
}

.sidebar-money {
  font-size: 35px !important;
  width: 100% !important;
  padding-top: 10px;
}

.sidebar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
}

.login .btn, .sign-up .btn {
  padding: 10px 30px;
}

.search-form {

  .input-group {
    width: 219px;
  }

  .input-group-addon {
    background-color: #fff;
    height: 32px;
    width: 32px;
    border: 0;
    top: 1px;
    right: 1px;
    border-radius: 0;
  }
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #F8F8F8;
}

.navbar-form {
  padding: 0;
  margin: 0;
}

.navbar-form .form-group {
  margin: 13px 0;
}

.navbar-default {
  background-color: #fff;
  margin: 0;
  border: 0;
}

.navbar-brand {
  height: 50px;
  padding: 12px;
}

.navbar-brand > img {
  margin: 0;
}

.navbar-collapse {
  background: transparent;
  border-top: 0;
}

.navbar-header {
  background-color: #fff;
}

.navbar-collapse {
  padding: 0;
}

.navbar-nav {
  float: none;
  margin: 7.5px 0;
}

.navbar-header {
  float: none;
}

.nav-sidebar a {
  border-bottom: 1px solid #dcdcdc;
}

@media (max-width: $screen-xs-max) {
  .navbar-form .form-group {
    margin: 0;
  }
  .navbar-nav li:last-child, .search-form .input-group {
    width: 100%;
  }
  .login, .sign-up {
    width: 50%;
  }
  .navbar-nav li {
    float: left;
  }
}

@media (min-width: $screen-sm-min) {
  .sidebar {
    width: 250px;
    bottom: 0;
    border-right: 1px solid #dcdcdc;
    border-bottom: 0;
  }
  .sign-up {
    margin-left: 12px;
  }
}