.bg-purple {
  background: $color-purple;
}

.bg-dark-purple {
  background: $color-dark-purple;
}

.bg-green {
  background: $color-green;
}

.bg-gray {
  background: $color-night-rider;
}

.bg-orange {
  background: $color-orange;
}

.bg-transparent {

}

.bg-white {
  background: $color-white;
}

.container-shadow {
  border-collapse: separate;
  box-shadow: 0px 1px 1px $color-black-shadow;

  &:hover {
    border-collapse: separate;
    box-shadow: 0px 1px 3px $color-black-shadow-hover;
  }
}