.text-dark {
  color: $color-black;
}

.text-white {
  color: $color-white;
}

.text-yellow {
  color: #ff0;
}

.text-pink {
  color: #FF9FB0;
}

.text-light-blue {
  color: #09bfff;
}

.text-orange {
  color: #ffa500;
}

.text-purple {
  color: #8970b3;
}

.text-dark-pink {
  color: #ff27d7;
}

.text-dark-blue {
  color: #0084ff;
}

.text-danger {
  color: #d9534f;
}

.text-success {
  color: #23b95d;
}