.text-dark {
  color: $color-black;
}

.text-white {
  color: $color-white;
}

.text-yellow {
  color: $color-yellow;
}

.text-light-blue {
  color: $color-light-blue;
}

.text-dark-blue {
  color: $color-blue;
}

.text-orange {
  color: $color-orange;
}

.text-purple {
  color: $color-purple;
}

.text-pink {
  color: $color-pink;
}

.text-dark-pink {
  color: $color-dark-pink;
}

.text-danger {
  color: $color-red;
}

.text-success {
  color: $color-green !important;
}