body {
	padding:0;
	margin:0;
	background-color:#3e59a8;
	color:#fff;
	text-align:center;
}
body a {
	color:#fff;
}
.wrap {
	width:385px;
	text-align:left;
	margin:auto;
	margin-top:100px;
	min-height:400px;
	position:relative;
}
.login_field {
	background:url(img/login_field_btn.png) no-repeat transparent;
	border:0;
	width:364px;
	height:66px;
	font-size:2em;
	padding:0 10px;
}
.login_btn {
	background:url(img/login_btn.png) no-repeat transparent;
	border:0;
	height:62px;
	width:384px;
	color:#fff;
	font-size:2em;
	cursor:pointer;
}
h1 {
	text-align:center;
}
h3 {
	font-size:1em;
}
.wrap input {
	margin-bottom:10px;
}
.wrap input[type=submit] {
	margin-top:15px;
}
.forgot {
	float:right;
	text-decoration:none;
	font-size:.8em;
}
.res{
	position:absolute;
	bottom:10px;
	left:0;
	background:#CCC;
	color:#F00;
	text-align:center;
	width:400px;
	height:40px;
	font-size:20px;
	line-height:30px;
}